<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/shirui.taskqueue/src/shirui/taskqueue/test/TaskQueueTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="shirui.taskqueue.test.TaskQueueTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="shirui.taskqueue"/>
</launchConfiguration>
